{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About page</title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
    <!--{%load static%} -->
</head>

<body>
    <div class="main-con">
        <div class="navbar-con">
            <div class="navbar-left">
                <div class="navbar-logo">
                    <p>
                        <img src="{%static 'images/logo.png'%}"  alt="TrotroLive"logo width="80" height="50">
                    </p>
                </div>
                <div class="navbar-menu">
                    <p><a href="/home">Home</a></p>
                    <p><a href ="/about">About</a></p>
                    <p><a href="/contact">Contact Us</a></p>
                    <p><a href="/service">Services</a></p>
                    <p><a href="/faq">FAQ</a></p>
                </div>
            </div>
            <div class="navbar-right">
                <p><a href="/geocode">Geocode</a></p>
                <input type="submit" name="submit" value="Login">
                <input type="submit" name="submit" value="Sign up">
            </div>
            <div class="navbar-icon" id="hamb">
                <img src="{%static 'images/align-justify.svg'%}"  alt="TrotroLive" >
            </div>
        </div>
        <div class="dropdown">
            <div class="navbar-menu-drop">
                <p><a href="/home">Home</a></p>
                <p><a href ="/about">About</a></p>
                <p><a href="/contact">Contact Us</a></p>
                <p><a href="/service">Services</a></p>
                <p><a href="/faq">FAQ</a></p>
            </div> 
        </div>
    </div> 
    <div class="sube">
        <div class="sub">
            <p class="aboutext">We are the bridge between stations and passengers</p>
            <div class="aboutt">
                <p class="aboutext2">With renewal of the mind through technology, simple Ai , and clean stations.</p>
            </div>
        </div>
    </div>    
        <div class="con1">
            <img src="{%static 'images/aboutteam.svg'%}"  alt="about pic" width="100%" class="con2">
        </div> 
    <div class="part-line2">
        <hr style="width:90%; height:1px; color:#2F304D;">
    </div>
    <div class="toge">
        <div class="heading"><p class="heading-text">Together we are strong!</p>
        </div>
        <div class="togetext">
            <h5 class="toge1">Everyone can collaborate on this transport solution’s; we have open source community / Trotro network. Trotro is cultural and social.</h5>
            <p class="toge2" style="color: #092C4C;"><b>Winners of DigiLogic, EU Funded project, achieving SDGs Goals</b>
            </p>
            <div class="logic">
                <img src="{%static 'images/Digi win.jpg'%}"  alt="DigiLogic" width="100%" class="logic1">
            </div>
            <ul style="list-style-type:circle;">
                <dh class="details-desc">Decent Work And Economic Growth</dh>
                <li class="details-list">We are building closing the skill gap in the Trotro industry and adding more tech, 
                record keeping; creating more jobs with high demand skills.</li>
                <dh class="details-desc">Innovation infrastructure and industry</dh>
                <li class="details-list">Develop quality, reliable, sustainable and resilient infrastructure, 
                including regional and transborder infrastructure, to support economic development and human well-being, 
                with a focus on affordable and equitable access for all</li>
                <dh class="details-desc">Partnership for Goals</dh>
                <li class="details-list">Partnership with the Local Goverment, GPRTU AND OTHER transport network.</li>
                <dh class="details-desc">Sanitation</dh>
                <li class="details-list">Clean Trotro station and friendly</li>
            </ul>    
        </div>
    </div>
    <div class="founder">
        <div class="ceo">
            <div class="ceoimg">
                <img src="{%static 'images/fredpro.jpg'%}"  alt="Profile" class="proimg">
            </div>
            <div class="ceoinfo">
                <p class="fname">Godfred Addai</p>
                <p class="fposi">Founder and CEO</p>
            </div>
        </div>
        <div class="ceo2">
            <p class="goal">"Our goal is to build transportation system that tells how people travel in Africa. 
                The Africa style of transport- Godfred Addai Amoako"</p>
        </div>
    </div>
    <div class="part-line2">
        <hr style="width:90%; height:1px; color:#2F304D;">
    </div>
    <div class="estimate">
        <div class="est1">
            <p class="estext">It has survived not only five centuries, but also the leap into electronic typesetting.</p>
            <div class="esnum">
              <p>402+</p>  
            </div>
        </div>
        <div class="est1">
            <p class="estext">It has survived not only five centuries, but also the leap into electronic typesetting.</p>
            <div class="esnum">
              <p>368+</p> 
            </div>
        </div>
        <div class="est1">
            <p class="estext">It has survived not only five centuries, but also the leap into electronic typesetting.</p>
            <div class="esnum">
              <p>11K+</p> 
            </div>
        </div>
       
    </div>

    <div class="team">
        <p class="head-text">Meet our amazing team</p>
        <div class="teamem">
            <div class="teams">
                <div class="teampic">                    
                    <img src="{%static 'images/fredpro.jpg'%}"  alt="Godfred" >
                </div>
                <div class="teamrole">
                    <p class="tname">Godfred Addai</p>
                    <p class="tposi">Founder and CEO</p>
                </div>
            </div>
            <div class="teams">
                <div class="teampic">            
                    <img src="{%static 'images/hilpro.jpg'%}"  alt="Hilda" >
                </div>
                <div class="teamrole">
                    <p class="tname">Hilda Amadu</p>
                    <p class="tposi">Co-founder</p>
                </div>
            </div>
            <div class="teams">
                <div class="teampic">
                    <img src="{%static 'images/nanapro.jpg'%}"  alt="Nana" > 
                </div>
                <div class="teamrole">
                    <p class="tname">Nana Asamoah</p>
                    <p class="tposi">Frontend Developer</p>
                </div>
            </div>
            <div class="teams">
                <div class="teampic">
                    <img src="{%static 'images/mary.jpg'%}"  alt="Mary" > 
                </div>
                <div class="teamrole">
                    <p class="tname">Mary Atieno</p>
                    <p class="tposi">Web/Adroid Track</p>
                </div>
            </div>
            <div class="teams">
                <div class="teampic">
                    <img src="{%static 'images/saheed.jpg'%}"  alt="Joseph" > 
                </div>
                <div class="teamrole">
                    <p class="tname">Joseph Endale</p>
                    <p class="tposi">Google Cloud Dev/ Google Grow Andela</p>
                </div>
            </div>
            <div class="teams">
                <div class="teampic">
                    <img src="{%static 'images/saed.jpg'%}"  alt="Saheed" > 
                </div>
                <div class="teamrole">
                    <p class="tname">Saheed Adeyemi</p>
                    <p class="tposi">Cloud Engineer</p>
                </div>
            </div>
        </div>
        <div class="part-line2">
            <hr style="width:90%; height:1px; color:#2F304D;">
        </div>
        <div class="join">
            <p class="head-text">Join our team</p>
            <div class="togetext">
                <p>We believe it takes great people to make a great product. 
                That's why we hire not only the perfect professional. but people who embody our company values.</p>
                <a href="#">See open positions > </a>
            </div>
        </div>
    </div>
    <div class="contact">
        <div class="conleft">    
            <p class="head-text">Have a question? Our team is happy to assist you</p>
            <p class="head2text">Ask about Trotro.ai product, implementation or anything else. 
            Our highly trained reps are standing by, ready to help.</p>
            <div class="part-line"></div>
            <div class="concan">                            
                <input type="submit" name="submit" value="Contact Us" class="contt">
            </div>
        </div>
        <div class="con-right">
            <img src="{%static 'images/team.svg'%}"  alt="comma-pic">  
        </div>
    </div>
    <div class="services">
        <div class="mission">
            <div class="serv-text">
                <p>Our Mission</p>
            </div>
            <div class="miss-link">
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting 
                industry. Lorem Ipsum has been the </p>
            </div>
        </div>
        <div class="mission">
            <div class="serv-text">
                <p>Services</p>
            </div>
            <div class="serv-links">
                <a href="#">Pick a ride</a><br>
                <a href="#">Find missing item</a><br>
                <a href="#">Pick a ride</a>
            </div>
        </div> 
        <div class="mission">
            <div class="serv-text">
                <p>Quick links</p>
            </div>
            <div class="serv-links">
                <a href="#">Home</a><br>
                <a href="#">About Us</a><br>
                <a href="#">Services</a>
            </div>
        </div>
        <div class="mission">
            <div class="serv-text">
                <p>Contact Info</p>
            </div>
            <div class="serv-links">
                <a href="#">0245 985 764</a><br>
                <a href="#">info@trotro.ai</a>
            </div>
        </div>  
    </div>
    <footer>
        <div class="socials">
            <div>            
                <img src="{%static 'images/twitter.svg'%}"  alt="comma-pic">  
            </div>
            <div>            
                <img src="{%static 'images/linkedin.svg'%}"  alt="comma-pic">  
            </div>
            <div>            
                <img src="{%static 'images/world.svg'%}"  alt="comma-pic">  
            </div>
            <div>            
                <img src="{%static 'images/accra.svg'%}"  alt="comma-pic">  
            </div>
        </div>
        <div>
            <div class="policy-box">
                <span>&#169; 404 Solutions Inc 2022 . All rights reserved. </span>
            </div>
            <div class="termsbox">
                <a href="#">Terms</a>
                <a href="#">Privacy</a>
            </div>
        </div>
    </footer>  






<script src="{% static 'main.js' %}"></script>   
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>    
</body>
</html>