<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Station Names</title>
</head>
<body>
    <table>
        <thead>
            <tr>
            <th>Location</th>
            <th>Destination</th>
            <th>Old Price</th>
            <th>New Price</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Nairobi</td>
                <td>Mombasa</td>
                <td>sh1000</td>
                <td>sh1500</td>
            </tr>
            <tr>
                <td>Nairobi</td>
                <td>Kisumu</td>
                <td>sh1500</td>
                <td>sh2000</td>
                
            </tr>
            <tr>
                <td>Nairobi</td>
                <td>Nakuru</td>
                <td>sh300</td>
                <td>sh600</td>
                
            </tr>
            <tr>
                <td>Nairobi</td>
                <td>Malindi</td>
                <td>sh1500</td>
                <td>sh2000</td>
                
            </tr>
            <tr>
                <td>Nairobi</td>
                <td>Kampala,Uganda</td>
                <td>sh2500</td>
                <td>sh4000</td>
                
            </tr>
        </tbody>
    </table>
</body>
</html>