#header {
  background-color: #33015a;
}

#branding h1{
    color: white;
}

#user-tools a:focus, #user-tools a:hover {
    text-decoration: none;
    border-bottom-color: wheat;
    color: rgb(140, 35, 163);
}

div.breadcrumbs {
    background-color: #580498;
}
.button.default, input[type=submit].default, .submit-row input.default {
    background-color: #5f2570;
}

a:link, a:visited {
    color: #fafafa;
}


.button,
input[type="submit"],
input[type="button"],
.submit-row input,
a.button {
  background-color: #05035f;
}

.button:active,
input[type="submit"]:active,
input[type="button"]:active,
.button:focus,
input[type="submit"]:focus,
input[type="button"]:focus,
.button:hover,
input[type="submit"]:hover,
input[type="button"]:hover {
  background-color: #090786;
}


.module h2, .module caption, .inline-group h2 {
    background: #590799;
}
#nav-sidebar .current-model {
    background: #33015a
}
.login{
    background: url('../images/geran.jpg') !important;
}
